body {
    width: 50%;
    margin: 0;
    min-width: 150px;
    background: #dbe2e8;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    horiz-align: center;
}

* {
    box-sizing: border-box;
}

.row {
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    position: relative;
    margin: 1px 1px 1px 1px;
    padding: 12px 16px 12px 20px;
    list-style-type: none;
    background: #fff;
    font-size: 17px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:hover {
    background: #007bff;
    color: #fff;
}

li.checked {
    background: #464788;
    color: #fff;
    text-decoration: line-through;
}

li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

#date {
    color: #000;
    font-size: 20px;
}